// Gruvbox Material theme

$red:          #ea6962;
$orange:       #e78a4e;
$yellow:       #d8a657;
$green:        #a9b665;
$cyan:         #89b482;
$blue:         #7daea3;
$magenta:      #d3869b;

$bg:           #464646;
$white-text:   #F5DFBA;
$fg:           $green;

$fg-opposite:  scale-color($fg, $lightness: -25%, $saturation: -15%);

// Box shadow of modules automatically calculated from the background color
$shadow:              scale-color($bg, $lightness: -34%, $saturation: -28%);

$fg-alt:              $shadow;
@if lightness($bg) < 50% {
  $fg-alt:            scale-color($bg, $lightness: 27%);
}

// Accent color used by the River active tags
$accent-color:        $fg;

// Foreground + accent color for modules w/o backgrounds
$fg-no-bg:            $fg;
$accent-color-no-bg:  $shadow;

// Set this to true or false depending if the mpd module is readable
$dark-theme:          true;

@if $dark-theme {
  $fg-no-bg:             $fg-opposite;
  $accent-color-no-bg:   $bg;
}
