$fg:           #d4be98;
$bg:           #45403d;
$fg-alt:       #7c6f64;

$red:          #ea6962;
$orange:       #e78a4e;
$yellow:       #d8a657;
$green:        #a9b665;
$cyan:         #89b482;
$blue:         #7daea3;
$magenta:      #d3869b;

$shadow:       #181818;

$accent-color: $green;
