$fg:           #534035;
$bg:           #D7B18E;
$fg-alt:       #8C795D;

$red:          #ea6962;
$orange:       #e78a4e;
$yellow:       #d8a657;
$green:        #6D7833;
$cyan:         #89b482;
$blue:         #7daea3;
$magenta:      #d3869b;

$green-light:  #a9b665;
$shadow:       #181818;

$accent-color: $green;
