// Gruvbox Material theme

$red:          #f38ba8;
$peach:        #fab387;
$yellow:       #f9e2af;
$green:        #a6e3a1;
$cyan:         #94e2d5;
$sapphire:     #74c7ec;
$blue:         #89b4fa;
$magenta:      #cba6f7;
$pink:         #f5c2e7;
$mauve:        #cba6f7;


$surface2:     #585b70;
$surface1:     #45475a;
$surface0:     #313244;
$base:         #1e1e2e;
$mantle:       #181825;
$crust:        #11111b;

$bg0:          #1e1e2e;
$bg:           #1e1e2e;
$bg1:          #313244;
$white-text:   #cdd6f4;
$fg:           $white-text;

$fg-opposite:  scale-color($fg, $lightness: -15%, $saturation: -25%);

// Box shadow of modules automatically calculated from the background color
$shadow:              scale-color($bg, $lightness: -40%, $saturation: -28%);

$fg-alt:              $shadow;
@if lightness($bg) < 50% {
  $fg-alt:            scale-color($bg, $lightness: 27%);
}

// Accent color used by the River active tags
$accent-color:        $fg;

// Foreground + accent color for modules w/o backgrounds
$fg-no-bg:            $fg;
$accent-color-no-bg:  $shadow;

// Set this to true or false depending if the mpd module is readable
$dark-theme:          true;

@if $dark-theme {
  $fg-no-bg:             $fg-opposite;
  $accent-color-no-bg:   $bg;
}
