// Angelo's Waybar config
// https://github.com/angelofallars/dotfiles

// Use Sass to compile this file down to CSS and restyle my bar.
// https://sass-lang.com/installhttps://sass-lang.com/install
// After downloading Sass, run this in this directory
// to compile your changes:
// $ sass --watch . --no-source-map

// NOTE: If the Japanese River workspace icons do not show up,
// you should install the Han Sans JP font.
// Arch Linux:
// $ sudo pacman -S adobe-source-han-sans-jp-fonts

@use 'colors' as *;

// Distance of the entire bar from the sides
$screen-margin: 6px;

// Distance from the top of the screen
$top-margin: 4px;

// Margin/padding of individual modules
$module-margin: 2px;
$module-padding: 10px;

// Font config
$font: "JetBrains Mono Nerd Font";
$font-size: 15px;
$font-weight: 500;

// How far away should the box shadow effect be diagonally
$box-shadow-distance: 4px;

// Border radius. Turning this option up will also round the offset shadows.
$bar-border-radius: 0px;

// -------------------------
// Actual styling of the bar
// -------------------------

* {
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: $fg;
}

.modules-left, .modules-center, .modules-right {
  background: transparent;
  margin-top: $top-margin;
  border-radius: $bar-border-radius;
  font-family: $font, monospace;
  font-size: $font-size;
  font-weight: $font-weight;
}

.modules-center {
  font-size: 14.0px;
  margin-right: 50px;
  margin-bottom: 3px;
}

.modules-left {
  margin-left: $screen-margin;
}

.modules-right {
  margin-right: $screen-margin;
}

@mixin square-shadow {
  box-shadow: $box-shadow-distance $box-shadow-distance 0 $shadow;
  margin-bottom: $box-shadow-distance;
  margin-right: $box-shadow-distance;
}

@mixin single-module {
  @include square-shadow;
  margin-left: $module-margin;
  margin-right: $module-margin + $box-shadow-distance;
  padding: 0 $module-padding;

  background: $bg;
  border-radius: $bar-border-radius;
}

#backlight,
#pulseaudio,
#clock,
#custom-treefetch-downloads,
#tags
{
  @include single-module;
}

#mpd {
  color: $accent-color-no-bg;
  margin-left: $module-margin + 2px;
}

#custom-mpd-song-scroll {
  color: $fg-no-bg;
}

// River tags
#tags button {
  color: $fg-alt;
  font-family: "Source Han Sans JP";
  font-weight: 700;
  padding: 0 6px;
  margin: 0 4px;
  font-size: 17px;
  border-radius: 0;
  border: none;
}

#tags button.occupied {
  color: inherit;
}

#tags button:hover {
  background: $fg-alt;
  color: $bg;
  box-shadow: none;
  text-shadow: none;
  transition: 0.20s;
}

#tags button.focused {
  color: $bg;
  background-color: $accent-color;
}

#tags button.urgent {
  color: red;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

tooltip {
  background: $bg;
  border-radius: 7px;
  font-family: $font, monospace;
  font-weight: $font-weight;
  font-size: $font-size;
  padding: 5px;
  animation-name: fadein;
  animation-duration: 0.2s;
  border: 2px solid $fg-alt;
  text-shadow: none;
  color: $fg;
}

tooltip label {
  color: $fg;
}

#tray menu {
  background: $bg;
  color: $fg;
  border-radius: 5px;
  border: 2px solid $fg-alt;
}
