#backlight, #battery, #cpu, #disk, #idle_inhibitor, #keyboard-state,
#pulseaudio, #clock, #tags, #language, #memory, #network, #sndio,
#mode, #window, #workspaces, #temperature, #taskbar, #workspaces,
#custom-treefetch-downloads {
  box-shadow: 4px 4px 0 #9e5a2e;
  margin-bottom: 4px;
  margin-right: 4px;
  margin-left: 3px;
  margin-right: 7px;
  padding: 0 10px;
  background: #e78a4e;
  border-radius: 0px;
}

* {
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #534035;
}

.modules-left, .modules-center, .modules-right {
  background: transparent;
  margin-top: 4px;
  border-radius: 0px;
  font-family: "JetBrains Mono Nerd Font", monospace;
  font-size: 15px;
  font-weight: 500;
}

.modules-left {
  margin-left: 6px;
}

.modules-right {
  margin-right: 6px;
}

#mpd, #custom-mpd-song-scroll {
  font-size: 14px;
  margin-bottom: 3px;
}

#mpd {
  color: #9e5a2e;
  margin-left: 5px;
}

#custom-mpd-song-scroll {
  color: #534035;
  margin-right: 50px;
}

#tags button {
  color: #9e5a2e;
  font-family: "Source Han Sans JP";
  font-weight: 700;
  padding: 0 6px;
  margin: 0 2px;
  min-width: 26px;
  font-size: 17px;
  border-radius: 0;
  border: none;
  transition: none;
}

#tags button.occupied {
  color: inherit;
}

#tags button:hover {
  color: #e78a4e;
  background: #9e5a2e;
  box-shadow: none;
  text-shadow: none;
  transition: 0;
}

#tags button.focused {
  color: #e78a4e;
  background: #9e5a2e;
}

#tags button.urgent {
  color: #ea6962;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
tooltip {
  background: #e78a4e;
  border-radius: 7px;
  font-family: "JetBrains Mono Nerd Font", monospace;
  font-weight: 500;
  font-size: 15px;
  padding: 5px;
  animation-name: fadein;
  animation-duration: 0.2s;
  border: 2px solid #9e5a2e;
  text-shadow: none;
  color: #534035;
}

tooltip label {
  color: #534035;
}

#tray menu {
  background: #e78a4e;
  color: #534035;
  border-radius: 5px;
  border: 2px solid #9e5a2e;
}
