* {
  min-height: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  color: #534035;
}

.modules-left, .modules-center, .modules-right {
  background: transparent;
  margin-top: 4px;
  border-radius: 0px;
  font-family: "JetBrains Mono Nerd Font", monospace;
  font-size: 15px;
  font-weight: 500;
}

.modules-center {
  font-size: 14px;
  margin-right: 50px;
  margin-bottom: 3px;
}

.modules-left {
  margin-left: 18px;
}

.modules-right {
  margin-right: 18px;
}

#backlight, #pulseaudio {
  background: #F47F79;
}

#backlight {
  box-shadow: 4px 4px 0 #c2362f;
  margin-bottom: 5px;
  margin-right: 5px;
  background: #F47F79;
  margin-left: 6px;
  padding: 0 10px;
  border-radius: 0px;
}

#pulseaudio {
  box-shadow: 4px 4px 0 #c2362f;
  margin-bottom: 5px;
  margin-right: 5px;
  background: #F47F79;
  margin-left: 6px;
  padding: 0 10px;
  border-radius: 0px;
}

#clock {
  box-shadow: 4px 4px 0 #c2362f;
  margin-bottom: 5px;
  margin-right: 5px;
  background: #F47F79;
  margin-left: 6px;
  padding: 0 10px;
  border-radius: 0px;
}

#custom-treefetch-downloads {
  box-shadow: 4px 4px 0 #c2362f;
  margin-bottom: 5px;
  margin-right: 5px;
  background: #F47F79;
  margin-left: 6px;
  margin-right: 6px;
  padding: 0 10px;
  border-radius: 0px;
}

#mpd {
  color: #c2362f;
  margin-left: 6px;
}

#custom-mpd-song-scroll {
  color: #534035;
}

#tags {
  box-shadow: 4px 4px 0 #c2362f;
  margin-bottom: 5px;
  margin-right: 5px;
  background: #F47F79;
  padding: 0 9px;
  border-radius: 0px;
}

#tags button {
  color: #c2362f;
  font-family: "Source Han Sans JP";
  font-weight: 700;
  padding: 0 6px;
  margin: 0 4px;
  font-size: 17px;
  border-radius: 0;
  border: none;
  box-shadow: none;
}

#tags button.occupied {
  color: inherit;
}

#tags button:hover {
  box-shadow: none;
  text-shadow: none;
  background: #c2362f;
  color: #F47F79;
  transition: 0.2s;
}

#tags button.focused {
  color: #F47F79;
  background-color: #c2362f;
}

#tags button.urgent {
  color: red;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
tooltip {
  background: #F47F79;
  border-radius: 7px;
  font-family: "JetBrains Mono Nerd Font", monospace;
  font-weight: 500;
  font-size: 15px;
  padding: 5px;
  animation-name: fadein;
  animation-duration: 0.2s;
  border: 2px solid #c2362f;
  text-shadow: none;
  color: #534035;
}

tooltip label {
  color: #534035;
}

#tray menu {
  background: #F47F79;
  color: #534035;
  border-radius: 5px;
  border: 2px solid #c2362f;
}

.treefetch {
  color: #a9b665;
}
